### House Prices Prediction

#### Reading the training set

In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

#read the train data
train = pd.read_csv('../input/train.csv')

train.shape

(1460, 81)

#### Description of the training set

In [3]:
#Find the info on categorical and continuous variables
train.describe(include=['O'])

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1460,1460,91,1460,1460,1460,1460,1460,1460,1460,...,1379,1379,1379,1379,1460,7,281,54,1460,1460
unique,5,2,2,4,4,2,5,3,25,9,...,6,3,5,5,3,3,4,4,9,6
top,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,Gd,MnPrv,Shed,WD,Normal
freq,1151,1454,50,925,1311,1459,1052,1382,225,1260,...,870,605,1311,1326,1340,3,157,49,1267,1198

In [4]:
train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

#### Dropping all the columns which have null values more than 30% of total size of data set

In [5]:
#Drop the columns having null values more than 30% of size of dataset
train1 = train.copy()
for column in train1.columns :
    if train1[column].isnull().sum() > 500:
        train1 = train1.drop([column],axis=1)
train1.shape

(1460, 76)

#### Filling the Categorical columns missing values with the mode of the variable and numerical with the mean

In [6]:
#Impute the columns having lesser number of missing values
for column in train1.columns :
    if train1[column].isnull().sum() < 500 and train1[column].isnull().sum() != 0:
        #print(column)
        if train1[column].dtype == "object":
            #print(train1[column].dtype)
            temp = train1[column].mode()
            train1[column] = train1[column].fillna(value = temp[0])
        else:
            train1[column] = train1[column].fillna(value = train1[column].mean())

#### Target Variable

In [7]:
#Obtaining the target variable
train_Y = train1.SalePrice

In [8]:
#The train set
train1 = train1.drop(['SalePrice'],axis = 1)

#### Original encoding the target variables

In [9]:
for variable in train1.columns: # Loop through all columns in the dataframe
    if train1[variable].dtype == 'object': # Only apply for columns with categorical strings
        train1[variable] = pd.Categorical(train1[variable]).codes # Replace strings with an integer
train1.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,3,65.0,8450,1,3,3,0,4,...,61,0,0,0,0,0,2,2008,8,4
1,2,20,3,80.0,9600,1,3,3,0,2,...,0,0,0,0,0,0,5,2007,8,4
2,3,60,3,68.0,11250,1,0,3,0,4,...,42,0,0,0,0,0,9,2008,8,4
3,4,70,3,60.0,9550,1,0,3,0,0,...,35,272,0,0,0,0,2,2006,8,0
4,5,60,3,84.0,14260,1,0,3,0,2,...,84,0,0,0,0,0,12,2008,8,4

#### Splitting the data into train and test for model analysis

In [10]:
#Splitting the train and test data set using train_test_split
from sklearn.model_selection import train_test_split

train_X, test_X, train_y, test_y = train_test_split(train1,train_Y, test_size = 0.20, random_state = 47)

#### Decision Tree Regressor Model

In [11]:
#using decision tree for prediction
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
def getMae(max_leaf_nodes, train_X,test_X, train_Y, test_Y):
    model = DecisionTreeRegressor()
    
    model.fit(train_X, train_Y)
    predicted_values = model.predict(test_X)
    mae = mean_absolute_error(test_Y,predicted_values )
    return mae

In [12]:
for leaf in [5,50,500,5000]:
    mae = getMae(leaf,train_X,test_X, train_y, test_y)
    print("leaf : %d \t\t Mae : %d" %(leaf,mae))

leaf : 5 		 Mae : 27019
leaf : 50 		 Mae : 26856
leaf : 500 		 Mae : 26449
leaf : 5000 		 Mae : 27885

#### Random Forest Model

In [13]:
#using random forest to do the prediction
from sklearn.ensemble import RandomForestRegressor
def getMaeforRandomForest(train_X,test_X, train_Y, test_Y):
    model = RandomForestRegressor()
    
    model.fit(train_X, train_Y)
    predicted_values = model.predict(test_X)
    mae = mean_absolute_error(test_Y,predicted_values )
    return mae

In [14]:
mae = getMaeforRandomForest(train_X,test_X, train_y, test_y)
print("random Forest Mae : %d" %(mae))

random Forest Mae : 22306

#### XGBoost Model

In [15]:
#Gradient Boosting for prediction
from xgboost import XGBRegressor
def getMaeforXGBoost(n_estimators,train_X,test_X, train_Y, test_Y):
    model = XGBRegressor(n_estimators = n_estimators)
    
    model.fit(train_X, train_Y, early_stopping_rounds=5, eval_set=[(test_X, test_Y)],verbose=False)
    predicted_values = model.predict(test_X)
    mae = mean_absolute_error(test_Y,predicted_values )
    return mae

In [16]:
for estimators in [100,500,1000,1500]:
    mae = getMaeforXGBoost(estimators,train_X,test_X, train_y, test_y)
    print("Estimator : %d \t\t Mae : %d" %(estimators,mae))

Estimator : 100 		 Mae : 21184
Estimator : 500 		 Mae : 21184
Estimator : 1000 		 Mae : 21184
Estimator : 1500 		 Mae : 21184

#### Reading the test prediction data

In [17]:
### Encoding the test set
test = pd.read_csv('../input/test.csv')

In [18]:
#Drop the columns having null values more than 30% of size of dataset
test1 = test.copy()
for column in test1.columns :
    if test1[column].isnull().sum() > 500:
        test1 = test1.drop([column],axis=1)
test1.shape

(1459, 75)

#### Performing the same data transformation as train to test

In [19]:
#Impute the columns having lesser number of missing values
for column in test1.columns :
    if test1[column].isnull().sum() < 500 and test1[column].isnull().sum() != 0:
        #print(column)
        if test1[column].dtype == "object":
            temp = test1[column].mode()
            test1[column] = test1[column].fillna(value = temp[0])
        else:
            test1[column] = test1[column].fillna(value = test1[column].mean())

In [20]:
for variable in test1.columns: # Loop through all columns in the dataframe
    if test1[variable].dtype == 'object': # Only apply for columns with categorical strings
        test1[variable] = pd.Categorical(test1[variable]).codes # Replace strings with an integer
test1.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,2,80.0,11622,1,3,3,0,4,...,0,0,0,120,0,0,6,2010,8,4
1,1462,20,3,81.0,14267,1,0,3,0,0,...,36,0,0,0,0,12500,6,2010,8,4
2,1463,60,3,74.0,13830,1,0,3,0,4,...,34,0,0,0,0,0,3,2010,8,4
3,1464,60,3,78.0,9978,1,0,3,0,4,...,36,0,0,0,0,0,6,2010,8,4
4,1465,120,3,43.0,5005,1,0,1,0,4,...,82,0,0,144,0,0,1,2010,8,4

### Applying the XGBRegressor which has the least mean absolute error

In [21]:
#building the model
model = XGBRegressor(n_estimators = 1000)
model.fit(train1, train_Y, early_stopping_rounds=5, eval_set=[(test_X, test_y)],verbose=False)
predicted_values = model.predict(test1)

In [ ]:
pred_df = pd.DataFrame(predicted_values, index=test1["Id"], columns=["SalePrice"])
pred_df.to_csv('submission.csv', header=True, index_label='Id')